/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../../client/src/app/images/Cool-background-hd-free-WSW2025679.jpg");
  background-color: #cccccc;
}
