.inline {
  display: inline !Important;
}


#events {
  margin: 170px;
  padding: 70px;
  border: solid;
  border-width: 5px;
  border-color: rgb(81, 255, 243);
}

th {
  color: rgb(0, 0, 0);
  font-size: 18px;
  border: 2px solid white;
}

tr {
  background-color: rgb(91, 245, 240);
}

td {
  color: rgb(0, 0, 0);
  font-size: 16px;
  border: 2px solid white;
}

.fights {
  width: 150px;
  height: auto;
}
