<div class="row">
  <div id="events" class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th>Event name:</th>
          <th>Event description:</th>
          <th>Event image:</th>
          <th>Event date:</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of this.events">
          <td scope="row">{{event.eventName}}</td>
          <td>{{event.eventDesc}}</td>
          <td><img class="fights" [src]="'../../assets/aj-parker.jpg'"></td>
          <td>{{formatDate(event.eventDate)}}</td>
          <td><button class="btn btn-sm btn-success">Join</button></td>
          <td><button class="btn btn-sm btn-danger">Leave</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
