<link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">

<nav *ngIf="!(isLoggedIn | async)" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container">
    <a id="logo">ESCOBAR</a>

    <div id="navbar" class="collapse navbar-collapse">

      <!-- ml-auto fix position -->
      <ul class="navbar-nav navbar-right">
        <a id="login-id" data-toggle="dropdown">Log in<span class="caret"></span></a>

        <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
          <div class="col-lg-12">

            <div class="text-center">
              <h3><b>Log In</b></h3>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
              </div>
            </form>

          </div>
        </ul>

      </ul>
    </div>
  </div>
</nav>


<nav *ngIf="(isLoggedIn | async)" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">

  <a id="logo" routerLink="">ESCOBAR</a>
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" routerLinkActive="active">

        <li class="nav-item">
          <a class="nav-link btn" routerLink="events" style="background-color:transparent">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="prisoners" style="background-color:transparent">Prisoners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="my-acc" style="background-color:transparent">My Account</a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" routerLink="" class="nav-link btn" style="background-color:transparent">Log out</a>
        </li>

      </ul>
    </div>
  </div>

</nav>
