/* Fixed navbar */
body {
  padding-top: 90px;
}

/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
  .dropdown-lr h3 {
    color: #eee;
  }

  .dropdown-lr label {
    color: #eee;
  }
}

#logo {
  font-size: 20px;
  color: white;
  margin-left: 40px;
  text-decoration: none;
}

a#login-id {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

div ul li.nav-item a {
  font-size: 16px;
  margin-right: 15px;
  color: white;
}
